ion-toolbar {
    display: flex;
    justify-content: left;
    align-items: center;
    --background: #16e2eb;

    ion-back-button {
        color: #ecfeff;
    }

    ion-title {
        color: #ecfeff;
        font-size: 22px;
        font-weight: bold;
        --padding-start: 0;
    }
}

ion-content {
    --background: #ecfeff;

    ion-input {
        --border-color: #16e2eb;
        --background: #ecfeff;
        --color: #0f172a;
        --placeholder-color: #707070;
        --highlight-color-focused: #168beb;
        --highlight-color-invalid: #ff1717;
    }

    .custom-select {
        --border-color: #16e2eb;
        --background: #ecfeff;
        --color: #0f172a;
        --placeholder-color: #707070;
        --highlight-color-focused: #168beb;
    }

    .custom-select::part(icon) {
        color: #168beb;
        opacity: 1;
    }


}