<div class="bg-[#16e2eb] pt-12 pb-2 px-2 rounded-b-[30px] shadow-sm flex items-center text-white relative z-10">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrasi Organizer</ion-title>
  </ion-toolbar>
</div>

<ion-content [fullscreen]="true">
  <div class="p-4">
    <p class="text-left m-0 text-sm text-cyan-400">Silahkan isi formulir untuk mendaftar sebagai organizer.</p>

    <form [formGroup]="registOrgForm" (ngSubmit)="onRegistOrganizer()">

      <div class="relative mb-1 mt-5">
        <ion-input formControlName="nama" label="Nama" type="text" label-placement="floating" fill="outline"
          placeholder="Masukkan Nama Lengkap" required></ion-input>
      </div>
      <div class="mb-4 pl-2" *ngIf="registOrgForm.get('nama')?.touched && registOrgForm.get('nama')?.invalid">
        <small class="text-red-500 font-semibold text-xs">Nama Lengkap wajib diisi.</small>
      </div>

      <div class="relative mb-1 mt-4">
        <ion-input formControlName="email" label="Email" type="email" label-placement="floating" fill="outline"
          placeholder="Masukkan Email" required></ion-input>
      </div>
      <div class="mb-4 pl-2" *ngIf="registOrgForm.get('email')?.touched && registOrgForm.get('email')?.invalid">
        <small class="text-red-500 font-semibold text-xs">Format email tidak valid atau kosong.</small>
      </div>

      <div class="relative mb-1 mt-4">
        <ion-input formControlName="nama_eo" label="Nama Event Organizer" type="text" label-placement="floating"
          fill="outline" placeholder="Masukkan Nama Event Organizer" required></ion-input>
      </div>
      <div class="mb-4 pl-2" *ngIf="registOrgForm.get('nama_eo')?.touched && registOrgForm.get('nama_eo')?.invalid">
        <small class="text-red-500 font-semibold text-xs">Nama Event Organizer wajib diisi.</small>
      </div>

      <div class="relative mb-1 mt-4">
        <ion-input formControlName="password" label="Password" type="password" label-placement="floating" fill="outline"
          placeholder="Masukkan Password" required></ion-input>
      </div>
      <div class="mb-4 pl-2" *ngIf="registOrgForm.get('password')?.touched && registOrgForm.get('password')?.invalid">
        <small class="text-red-500 font-semibold text-xs">Password minimal wajib 6 karakter.</small>
      </div>

      <div class="relative mb-1 mt-4">
        <ion-input formControlName="password_confirmation" label="Konfirmasi Password" type="password"
          label-placement="floating" fill="outline" placeholder="Masukkan Konfirmasi Password" required></ion-input>
      </div>
      <div class="mb-4 pl-2"
        *ngIf="registOrgForm.hasError('mismatch') && registOrgForm.get('password_confirmation')?.touched">
        <small class="text-red-500 font-semibold text-xs">Konfirmasi password tidak cocok.</small>
      </div>

      <div class="relative mb-1 mt-4">
        <label class="block text-cyan-400 text-xs font-semibold mb-1 ml-1">
          Upload Proposal
        </label>
        <input type="file" accept="application/pdf" (change)="onFileChange($event)" class="block w-full text-sm text-gray-400 bg-cyan-50 border border-cyan-400 rounded-lg cursor-pointer focus:outline-none
               file:mr-4 file:py-3 file:px-4 
               file:border-0 file:border-r file:border-cyan-400 
               file:text-sm file:font-semibold file:bg-[#C4C4C4] file:text-gray-700
               hover:file:bg-gray-400 file:cursor-pointer file:transition-colors" />
        <p class="text-cyan-400 text-[10px] mt-1 ml-1">
          File yang diupload hanya berupa pdf.
        </p>
      </div>
      <div class="mb-6 pl-2"
        *ngIf="registOrgForm.get('file_proposal')?.touched && registOrgForm.get('file_proposal')?.invalid">
        <small class="text-red-500 font-semibold text-xs">File proposal wajib diunggah.</small>
      </div>

      <button type="submit" [disabled]="registOrgForm.invalid"
        class="w-full bg-cyan-400 text-white font-bold py-3.5 rounded-lg active:scale-95 transition-transform shadow-md disabled:opacity-50 disabled:scale-100 mt-4">
        Daftar
      </button>

    </form>
  </div>
</ion-content>