ion-content {
    --background: #ecfeff;

    ion-input {
        --border-color: #16e2eb;
        --background: #ecfeff;
        --color: #0f172a;
        --placeholder-color: #707070;
        --highlight-color-focused: #168beb;
        --highlight-color-invalid: #ff1717;
    }
}