<ion-content [fullscreen]="true">

  <div class="bg-[#16e2eb]">

    <div class="bg-[#16e2eb] h-[40vh] flex flex-col items-center justify-center relative z-10 shadow-sm">
      <div class="w-44 h-36 mt-14">
        <img src="../assets/images/eventin-logo.png" alt="Logo EventInr">
      </div>
    </div>

    <div class="bg-cyan-50 px-8 pt-8 pb-12 relative z-0 rounded-tl-[80px]">

      <h1 class="text-center text-3xl font-extrabold text-cyan-400 mb-6">Login</h1>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <div class="relative mb-5 mt-2">
          <ion-input formControlName="email" label="Email" type="email" label-placement="floating" fill="outline"
            placeholder="Masukkan Email">
          </ion-input>
        </div>
        <div class="mb-5 pl-2" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          <small class="text-red-500 font-semibold text-xs">Format email tidak valid.</small>
        </div>

        <div class="relative mb-1">
          <ion-input formControlName="password" label="Password" type="password" label-placement="floating"
            fill="outline" placeholder="Masukkan Password">
          </ion-input>
        </div>
        <p><a class="text-sm text-cyan-400" routerLink="/reset-password">Lupa Password?</a></p>
        <div class="mb-6 pl-2" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <small class="text-red-500 font-semibold text-xs">Password wajib diisi.</small>
        </div>

        <button type="submit" [disabled]="loginForm.invalid"
          class="w-full mt-10 bg-cyan-400 text-white font-bold py-3.5 rounded-lg active:scale-95 transition-transform shadow-md disabled:opacity-50 disabled:scale-100">
          Masuk
        </button>

      </form>

      <div class="mt-8 text-center">
        <p class="text-xs font-bold text-gray-800">
          Belum punya akun?
          <a routerLink="/regist" class="text-cyan-400 ml-1 active:opacity-70 transition-opacity">Daftar di sini.</a>
        </p>
      </div>

    </div>
  </div>

</ion-content>