<ion-footer class="ion-no-border">
  <div class="bg-cyan-500 flex justify-around items-center py-3 text-white">
    <div class="flex flex-col items-center" tabs="home" routerLink="/home" routerLinkActive="active-link">
      <ion-icon name="home-outline" class="text-2xl"></ion-icon>
      <span class="text-xs">Home</span>
    </div>
    <div class="flex flex-col items-center opacity-80" tabs="events" routerLink="/events"
      routerLinkActive="active-link">
      <ion-icon name="compass-outline" class="text-2xl"></ion-icon>
      <span class="text-xs">Explore</span>
    </div>
    <div class="flex flex-col items-center opacity-80" tabs="my-tickets" routerLink="/my-tickets"
      routerLinkActive="active-link">
      <ion-icon name="ticket-outline" class="text-2xl"></ion-icon>
      <span class="text-xs">My Ticket</span>
    </div>
    <div class="flex flex-col items-center opacity-80" tabs="account" routerLink="/account"
      routerLinkActive="active-link">
      <ion-icon name="person-outline" class="text-2xl"></ion-icon>
      <span class="text-xs">Account</span>
    </div>
  </div>
</ion-footer>