<div class="bg-[#16e2eb] pt-12 pb-2 px-2 rounded-b-[30px] shadow-sm flex items-center text-white relative z-10">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title>Syarat & Ketentuan</ion-title>
  </ion-toolbar>
</div>

<ion-content [fullscreen]="true">
    <div class="container">
      <p class="mb-3 mt-2 text-sm">Selamat datang di aplikasi EventIn.</p>
      
      <p>Dengan mengunduh, mendaftar, dan/atau menggunakan layanan EventIn, 
        maka Anda dianggap telah membaca, mengerti, menerima dan menyetujui semua isi dalam Syarat dan Ketentuan ini. 
        Syarat dan Ketentuan ini merupakan bentuk kesepakatan yang dituangkan dalam suatu perjanjian yang sah antara Anda dengan 
        EventIn. Anda diwajibkan memebaca dengan seksama karena dapat berdampak secara hukum kepada hak dan kewajiban Anda.
      </p>
      <p>Jika Anda tidak menyetujui sebagian atau seluruh isi Syarat dan Ketentuan, maka Anda tidak diperkenankan mengunduh dan/atau 
        menggunakan layanan EventIn. Apabila Anda telah mendaftar layanan EventIn dan/atau mengunduh aplikasi, maka Anda wajib untuk berhenti menggunakan 
        layanan EventIn dan menghapus akun dan/atau aplikasi secara permanen dari perangkat Anda.
      </p>

      <span>"Terakhir diperbarui pada tanggal 28 Mei 2026."</span>

      <h2>1. Definisi</h2>

      <ul>
        <ol>1. <strong>Akun</strong> adalah akun elektronik yang dibuat dalam layanan EventIn yang menjadi suatu identitas Anda.</ol>
        <ol>2. <strong>Organizer</strong> adalah pihak yang menyediakan, membuat, mengadakan dan yang memiliki konten dalam layanan EventIn.</ol>
        <ol>3. <strong>E-Ticket</strong> adalah tiket elektronik yang diterbitkan dan disimpan secara elektronik dalam format PDF atau Kode QR atas acara atau kegiatan yang diadakan oleh organizer.</ol>
        <ol>4. <strong>Hak Kekayaan Intelektual</strong> adalah hak cipta, merek dagang dan hak-hak lain atas setiap nama, logo, layanan, konten, aplikasi dan web yang disediakan berdasarkan hukum Negara Republik Indonesia.</ol>
        <ol>5. <strong>Hari Kerja</strong> adalah Senin sampai dengan Jumat pukul 09.00-17.00 WIB, selain Sabtu dan Minggu atau hari libur nasional yang ditetapkan oleh pemerintah Republik Indonesia.</ol>
        <ol>5. <strong>Kebijakan Privasi</strong> adalah kebijakan yangberkaitan dengan bagaimana kami mengumpulka, memproses, dan mengungkapkan informasi pribadi Anda, dan bagaimana Anda dapat mengelola privasi online Anda saat menggunakan layanan EventIn. Selengkapnya Anda bisa baca <a class="text-cyan-500" routerLink="/privacy-policy">di sini.</a></ol>
        <ol>6. <strong>Layanan EventIn</strong> adalah platform baik berupa aplikasi dan/atau web yang berfungsi sebagai media dimana Organizer dapat membuat dan mengelola event juga pengguna atau pembeli dalam mencari dan membeli tiket event.</ol>
        <ol>7. <strong>Pengguna</strong> atau <strong>Anda</strong> adalah setiap individu yang mengunduh, mendaftar dan/atau menggunakan layanan EventIn.</ol>
        <ol>8. <strong>Eventin</strong> atau <strong>Kami</strong> adalah grup yang memiliki dan mengembangkan layanan EventIn dari waktu ke waktu, yang merupakan platform untuk membeli tiket, mengadakan event dan mengelola event.</ol>
      </ul>

      <h2>2. Pengertian Umum/Ruang Lingkup</h2>
      
      <p>Aplikasi atau layanan EventIn merupakan layanan teknologi perangkat lunak berbasis aplikasi mobile yang berfungsi sebagai sarana interaksi antara Organizer dimana organizer dapat membuat dan mengelola event. Melalui EventIn, organizer dapat mengelola sebuah event dan monitoring peserta event yang diadakan. 
        Oleh karena itu, kami dengan hati-hati akan melakukan moderasi Pengguna agar konten benar-benar bebas dari konten yang mengganggu/menyinggung di negara tempat EventIn beroperasi.
      </p>

      <h2>3. Aplikasi, Akun dan Keamanan</h2>

      <ul>
        <ol>1. Anda menyatakan dan menjamin bahwa Anda adalah individu yang secara hukum berhak untuk mengadakan perjanjian yang mengikat berdasarkan hukum Negara Republik Indonesia untuk menggunakan layanan EventIn. 
          Anda menyatakan bahwa Anda berada di bawah perwalian. Jika anda berusia di bawah 18 tahun atau berada di bawah pengampuan, maka Anda harus memperoleh persetujuan orang tua atau wali Anda, terhadap (i) tindakan 
          Anda dalam penggunaan layanan EventIn; (ii) biaya yang timbul akibat penggunaan layanan EventIn; dan (iii) penerimaan dan kepatuhan Anda sesuai dengan Syarat dan Ketenttuan ini. Jika Anda tidak memiliki izin 
          dari orang tua atau wali, Anda harus berhenti menggunakan dan/atau menghapus akun dan aplikasi EventIn secara permanen dari perangkat Anda,
        </ol>
        <ol>2. Untuk dapat menggunakan layanan EventIn ini maka anda wajib untuk melakukan pendaftarana dengan cara mengisi isian yang telah disediakan oleh kami pada aplikasi dan memberikan data pendukung lainnya yang 
          dibutuhkan untuk melakukan pendaftaran.</ol>
        <ol>3. Isian yang harus Anda lengkapi adalah informasi nama, alamat email, nomor telepon seluler dan jenis kelamin. Anda harus memberikan informasi dan data yang akurat, benar dan lengkap, melakukan pengkinian data 
          dan setuju untuk memberikan kepada kami bukti identitas yang diminta. Dalam hal Anda memberiikan informasi dan data yang tidak benar/tidak sesuai baik disengaja maupuun tidak, dimana hal tersebut menimbulkan kerugian 
          kepada EventIn, maka anda bertanggung jawab sepenuhnya atas kerugian tersebut dan membebaskan EventIn dari segala kerugian dan tuntutan ganti rugi dari pihak manapun.
        </ol>
        <ol>4. Apabila Anda mendaftar sebagai organizer kemudian membuat dan/atau mengadakan event, maka proses pembayaran atau uang masuk awal dari pengguna yang membeli tiket event anda akan melalui pihak EventIn terlebih dahulu.</ol>
        <ol>5. Pengguna yang mendaftar sebagai organizer dilarang menggunakan nama Event Organizer yang mengandung unsur SARA, pornografi, ujaran kebencian, dan unsur yang melanggar hukuum atau norma yang berlaku di masyarakat. Kami 
          berhak untuk menolak akun yang melanggar ketentuan ini.
        </ol>
        <ol>6. Dalam menentukan nama EventOrganizer, Anda tidak dapat menggunakan nama yang terasosiasi dengan organisasi negara atau internasional, merek dagang, publik figur apabila itu bukan Anda (kecuali dengan izin resmi). Upaya untuk menjual, membeli, atau meminta 
          pembayaran lain dengan imbalan nama EO juga merupakan pelanggaran dan dapat mengakibatkan penangguan akun secara permanen.
        </ol>
        <ol>7. Hanya Anda yang dapat menggunakan akun Anda sendiri dan Anda berjanji untuk tidak memberikan wewenang kepada orang lain untuk menggunakan identitas anda atau menggunakan akun Anda. Anda tidak dapat menyerahkan atau mengalihkan akun Anda kepada pihak lain. 
          Apabila Anda dengan sengaja memberikan akses akun Anda kepada orang lain, maka setiap aktivitas dalam akun Anda tetap menjadi tanggung jawab Anda, dan dengan ini Anda membebaskan kami dari segala bentuk klaim, permintaan ganti, rugi, gugatam atau tuntutan dari pihak manapun 
          atas aktivitas akun Anda. Anda harus menjaga keamanan dan kerahasiaan data, nama, rincian, OTP serta password Anda dan setiap identifikasi yang kami berikan kepada Anda dan kami tidak aplikasin bertanggung jawab dalam bentuk apapun atas adanya pengungkapan atas data-data tersebut. 
        Dalam hal terjadi pengungkapan atas hal tersebut, dengan cara apapun, yang mengakibatkan stiap penggunaan yang tidak sah atau kewenangan atas akun atau identitas Anda, segala pengajuan dan/atau permintaan yang diterima dari penggunaan yang tidak sah atau tanpa kewenangan tersebut masih akan dianggap sebagai 
        pengajuan dan /atau permintaan yang sah.</ol>
        <ol>8. Mohon menghubungi kontak kami yang terdapat di akhir halaman ini jika Anda tidak lagi memiliki kontrol atas akun Anda, sebagai contoh akun Anda dengan cara bagaimanapun diretas atau telepon Anda dicuri, sehingga kami dapat membatalkan akun Anda dengan sebagaimana mestinya. 
          Mohon diperhatikann bahwa anda bertanggung jawab atas penggunaan akun Anda dan Anda mungkin dapat dimintakan tanggung jawabnya meskipun jika akun Anda tersebut disalahgunakan oleh orang lain.
        </ol>
        <ol>9. Anda memahami dan setuju bahwa penggunaan layanan EventIn akan tunduk pula pada kebijakan privasi dan sebagaimana dapat diubah dari waktu ke waktu. Dengan tetap menggunakan layanan EventIn, Anda dianggap juga telah membaca, memhami serta memberikan persetujuan sebagaimana dipersyaratkan berdasarkan kebijakan privasi.</ol>
        <ol>10. Anda setuju bahwa kami berhak mengubah syarat dan ketentuan ini dari waktu ke waktu, dengan alasan apapun dengan /tanpa melakukan pemberitahuan di aplikasi kami. Anda harus memeriksa dan melihat syarat dan ketentuan secara teratur dan berkala untuk mengetahui perubahan tersebut. 
          Kami akan memperbarui "Terakhir diperbarui" di bagian atas syarat dan ketentuan ini, yang mencerminkan informasi pembaruan syarat dan ketentuantersebut. Penggunaan berkelanjutan atas layanan EventIn setelah tanggal syarat dan ketentuan baru merupakan penerimaan Anda atas syarat dan ketentuan ssecara otomatis. Jika Anda tidak menyetujui 
          syarat dan ketentuan baru, maka Anda wajib berhenti mengakses atau menggunakan aplikasi EventIn.
        </ol>
      </ul>

      <h2>4. Kebijakan Privasi</h2>

      <p>Privasi anda penting bagi EventIn. Silahkan lihat dan baca dengan seksama <a routerLink="/privacy-policy">Kebijakan Privasi</a> kami untuk informasi yang berkaitan dengan bagaimana kami mengumpulkan, menggunaka, dan mengungkapkaninformasi pribadi anda, dan pilihan privasi kami tentang bagaimana Anda dapat mengelola privasi online Anda ketika Anda menggunakan aplikasi EventIn.</p>

      <h2>5. Bentuk Layanan EventIn dan Ketentuan Terkait</h2>

      <ul>
        <ol>1. EventIn memiliki layanan yaitu pembelian tiket event, pendaftaran sebagai organizerr, membuat dan/atau mengelola event dan E-Ticket. Kami dapat sewaktu-waktu untuk 
          mengubah menambahkan bentuk konten lainnya di masa yang akan datang.
        </ol>
        <ol>2. Seluruh transaksi yang Anda lakukan melalui platform EventIn, merupakan hubungan hukum dan kontrak yang mengikta antara Anda dengann organizer. 
          Dalam hal ini, kami bertindak hanya sebagai agen atau perantara yang memfasilitasi transaksi antara Anda dengan organizer.
        </ol>
        <ol>3. Hubungan kami dengan organizer hanya sebatas kemitraan sehingga kami perlu tekankan bahwa organizer bukan merupakan bagian atau afiliasi dari kami.</ol>
        <ol>4. Seluruh informasi termasuk deskripsi dan foto terkait dengan produk tertentu yang tercantum pada aplikasi atau website kami merupakan informasi yang kami 
          terima dari Creator. Kami mempublikasikan data dan informasi tersebut apa adanya sebagaimana kami terima dari Creator. Oleh karena itu, data, informasi dan 
          deskripsi dapat berbeda dengan aslinya dan berubah sewaktu-waktu sesuai dengan perubahan terakhir yang dilakukan oleh Creator.</ol>
        <ol>5. Kecuali ditentukan lain dalam deskripsi seluruh produk tidak diproduksi langsung oleh kami. Oleh karena itu, jika Anda memiliki 
          keluhan terkait dengan produk maka keluhan tersebut wajib ditujukan kepada Creator, bukan kami. Berdasarkan upaya yang wajar Kami 
          dapat membantu dan memfasilitasi keluhan Anda kepada Creator selaku penjual produk.</ol>
        <ol>6. Anda (organizer) dengan ini setuju bahwa anda telah memperoleh seluruh izin pihak ketiga yang diperlukan atas seluruh instrumen yang terkandung 
          dalam konten yang anda buat dan/atau unggah dalam Layanan EventIn.</ol>
        <ol>7. Anda setuju untuk memberikan seluruh hak yang diperlukan oleh kami untuk menggunakan dan menayangkan konten dalam Layanan EventIn. 
          Anda selanjutnya memberi kami hak seluas-luasnya dan bebas atas royalti untuk menggunakan nama, gambar, suara, dan seluruh unsur yang 
          terdapat dalam konten untuk digunakan seluas-luasnya sehubungan dengan maksud dan tujuan dari bidang usaha kami.</ol>
        <ol>8. Tanggung jawab atas Konten yang diunggah oleh organizer dalam Layanan EventIn berada pada organizer. Kami berhak meninjau Konten yang 
          anda unggah ke dalam Layanan EventIn. Jika kami menemukan pelanggaran atas Syarat dan Ketentuan, kami berhak untuk menghapus dan menolak untuk 
          menampilkan Konten tersebut. Kami akan memberikan kesempatan kepada organizer untuk membela diri. Kami akan mengirimkan email ke alamat email yang 
          organizer daftarkan untuk melakukan konfirmasi atas Konten yang ditayangkan dalam Layanan EventIn. Anda wajib untuk memberikan tanggapan terkait dengan 
          email yang kami kirimkan sesuai dengan batas waktu yang ditentukan oleh Kami dalam email</ol>
        <ol>9. Dengan mengunggah Konten melalui Layanan EventIn anda menyatakan setuju untuk memberikan seluruh hak yang kami perlukan untuk menggunakan Konten 
          Anda sebagai materi pemasaran atau promosi Layanan EventIn. Anda dengan ini membebaskan kami dari segala bentuk klaim, tuntutan, gugatan, atau permintaan 
          ganti rugi atas penggunaan Konten anda sebagai materi pemasaran atau promosi kami.</ol>
      </ul>

      <h2>6. E-Ticket</h2>

      <ul>
        <ol>1. organizer dapat memasarkan E-Ticket atas acara, kegiatan atau kelas yang diselenggarakan oleh organizer.</ol>
        <ol>2. Untuk dapat memasarkan E-Ticket atas acara, kegiatan atau kelas, organizer wajib melakukan dan 
          lolos proses verifikasi identitas dengan melampirkan nama lengkap, alamat email Event Organizer, nomor ponsel, dan proposal acara.</ol>
        <ol>3. Kecuali dinyatakan lain dalam perjanjian terpisah, seluruh acara yang organizer selenggarakan adalah kegiatan yang 
          independen dan tidak dapat diasosiasikan dengan pihak EventIn (EventIn hanya merupakan partner yang ditunjuk dalam 
          memasarkan tiket dari kegiatan organizer). Seluruh tanggung jawab atau kewajiban yang terjadi dalam acara, kegiatan atau kelas melekat pada organizer.</ol>
        <ol>4. EventIn menjadi mitra eksklusif untuk pemesanan E-Ticket  acara, kegiatan atau kelas offline dan/atau online yang diselenggarakan oleh organizer. 
          EventIn akan mengelola seluruh pembayaran dan registrasi setiap pengguna yang membeli E-Ticket acara, kegiatan atau kelas melalui platform EventIn.</ol>
        <ol>5. EventIn hanya menyediakan mekanisme pembayaran dalam mata uang Rupiah dan untuk penyelenggara di lokasi Republik Indonesia.</ol>
        <ol>6. EventIn berhak untuk menolak memasarkan E-Ticket acara, kegiatan, atau kelas yang diselenggarakan oleh organizer dengan alasan apapun, dengan atau tanpa pemberitahuan kepada organizer.</ol>
        <ol>7. Organizer wajib mendapatkan seluruh izin dari pihak yang berwajib atau pihak ketiga dimana hal tersebut diperlukan untuk menyelenggarakan acara, kegiatan atau kelas ini.</ol>
        <ol>8. Seluruh konten atau materi yang organizer bagikan selama acara, kegiatan, atau kelas berlangsung tidak melanggar, menyalahi, dan atau menyalahgunakan hak cipta pihak ketiga manapun. 
          Semua perizinan, persetujuan, pemberitahuan, pelaporan, termasuk namun tidak terbatas pada izin Pemberian Hak Kekayaan Intelektual Pihak Ketiga (sebagaimana berlaku) yang diperlukan telah diperoleh 
          organizer sebelum menyelenggarakan kegiatan ini.</ol>
        <ol>9. Seluruh konten atau materi yang organizer bagikan selama acara, kegiatan, atau kelas tidak melanggar ketentuan peraturan perundang-undangan yang berlaku, Syarat dan Ketentuan dan Kebijakan Privasi.</ol>
        <ol>10. Organizer menjamin tidak akan membagikan konten atau materi yang mengandung suku, agama, ras, antar golongan, politik, atau isu sensitif lainnya ("Konten Sensitif"), tidak terkecuali konten atau 
          materi yang memprovokasi atau mengomentari kebijakan negara tertentu, yang dapat menimbulkan dampak negatif.</ol>
        <ol>11. Organizer akan mendapatkan 95% dari setiap penjualan E-Ticket yang terjual melalui platform EventIn, sedangkan EventIn akan mendapatkan 5% dari setiap penjualan E-Ticket yang terjual sebagai biaya 
          platform untuk terus melakukan pengembangan dan memberikan pengalaman terbaik bagi Pengguna, kecuali ditentukan lain dalam perjanjian terpisah yang ditandatangani oleh EventIn dan organizer.</ol>
        <ol>12. Organizer akan mendapatkan dana atas penjualan E-Ticket 1 Hari Kerja setelah acara, kegiatan atau kelas selesai diselenggarakan, kecuali ditentukan lain di dalam perjanjian terpisah yang ditandatangani oleh EventIn dan organizer.</ol>
        <ol>13. Organizer wajib memberikan pemberitahuan tertulis kepada pembeli yang telah membeli E-Ticket apabila terjadi perubahan detail atau pembatalan acara.</ol>
        <ol>14. Dalam hal organizer melanggar ketentuan-ketentuan di atas dan kegiatan yang organizer selenggarakan menimbulkan kerugian material dan/atau immaterial bagi EventIn, maka dengan ini organizer setuju untuk mengganti kerugian, 
          membebaskan dam melindungi EventIn, afiliasinya beserta para direktur, pejabat, karyawan, agen, perusahaan dan distributornya masing-masing dari dan terhadap segala kerugian, biaya dan pengeluaran, termasuk biaya pengacara yang wajar, 
          yang terjadi sehubungan dengan klaim atau tuntutan apa pun, yang timbul dari pelanggaran hukum atau Syarat dan Ketentuan ini.</ol>
        <ol>15. EventIn berhak untuk menolak, menghapus, tidak memproses, masukan ke daftar hitam, blokir, menghentikan kerja sama secara sepihak, menuntut ganti rugi, menuntut berbagai hak untuk memulihkan hak yang 
          telah dilanggar apabila berdasarkan pertimbangan EventIn bahwa organizer telah melakukan tindakan yang merugikan EventIn dan/atau pembeli.</ol>
      </ul>

      <h2>7. Perubahan dan Pembatalan E-Ticket</h2>

      <ul>
        <ol>1. Organizer dapat melakukan perubahan detail (lokasi, jadwal, dan/atau pengisi acara) acara yang dijual di dalam E-Ticket dengan ketentuan perubahan detail acara atau pembatalan acara tersebut dilakukan selambat-lambatnya 3 (tiga) hari 
          kalender sebelum acara, kegiatan atau kelas diselenggarakan. Organizer dapat menghubungi Customer Care untuk informasi lebih lanjut.</ol>
          <ol>2. Organizer dapat memberikan opsi refund kepada Pengguna yang tidak setuju dengan perubahan acara tersebut sebesar 100% dari harga dasar E-Ticket apabila terjadi perubahan detail (lokasi, jadwal, dan/atau pengisi acara).</ol>
          <ol>3. Organizer setuju untuk mengembalikan dana sebesar 100% (seratus persen) dari harga dasar E-Ticket apabila Pihak Kedua melakukan pembatalan acara.</ol>
          <ol>4. Organizer wajib memberikan pemberitahuan tertulis kepada Pengguna yang telah membeli E-Ticket apabila terjadi perubahan detail atau pembatalan acara.</ol>
          <ol>5. Apabila terdapat permintaan refund yang diajukan oleh Pengguna sehubungan dengan ketentuan poin 1, organizer wajib mengembalikan dana langsung ke rekening yang ditunjuk oleh Pengguna.</ol>
          <ol>6. Pengembalian dana tersebut wajib dilakukan selambat-lambatnya 30 (tiga puluh) hari kalender sejak perubahan dan/atau pengumuman pembatalan acara dilakukan oleh organizer.</ol>
          <ol>7. Dalam hal terjadi permintaan refund atas terjadinya perubahan acara sebagaimana dijelaskan pada poin 2 atau pembatalan E-Ticket, EventIn tetap berhak atas Platform Fee dan biaya-biaya lainnya yang telah 
            dikeluarkan oleh EventIn termasuk diantaranya namun tidak terbatas pada promo yang diberikan oleh EventIn dan biaya transaksi pembayaran.</ol>
      </ul>

      <h2>8. Hak Kekayaan Intelektual</h2>

      <ul>
        <ol>1. EventIn, baik nama, logo, Layanan EventIn dan aplikasi, dilindungi oleh hak cipta, merek dagang dan hak-hak lain yang disediakan 
          berdasarkan hukum Negara Republik Indonesia. Kami (dan pemberi lisensi kami, sebagaimana berlaku) secara eksklusif memiliki semua hak, 
          kepemilikan dan kepentingan dalam dan terhadap Layanan EventIn, termasuk semua hak kekayaan intelektual terkait.</ol>
        <ol>2. Kekayaan Intelektual atas konten merupakan milik dan/atau hak dari organizer. Organizer dengan ini memberikan lisensi yang tidak dapat dibatalkan, namun dapat dialihkan, disublisensikan, 
          berlaku global dan berlaku selama Perjanjian berlaku kepada kami untuk menggunakan (termasuk memodifikasi, mengadaptasi, mempublikasikan, mereproduksi dan membuat karya turunan dari) 
          Kekayaan Intelektual konten. Lisensi Hak Kekayaan Intelektual ini berakhir apabila Anda menghapus konten.</ol>
      </ul>

      <h2>9. Jaminan dari EventIn</h2>

      <p>Kami tidak menyatakan atau menjamin bahwa (a) penggunaan Layanan EventIn akan aman, tepat waktu, tanpa gangguan atau terbebas dari kesalahan atau beroperasi dengan 
        kombinasi dengan perangkat keras lain, perangkat lunak, sistem atau data, (b) setiap data yang tersimpan akan akurat atau dapat diandalkan, (c) kualitas produk, 
        layanan, informasi, atau Konten diperoleh oleh Anda melalui Layanan Eventin akan memenuhi kebutuhan atau harapan Anda (d) kesalahan atau kecacatan dalam Layanan EventIn 
        akan segera diperbaiki, (e) server yang menyediakan Layanan EventIn terbebas dari virus atau komponen berbahaya lainnya, layanan Eventin disediakan untuk Anda terbatas hanya pada dasar "sebagaimana adanya". Semua kondisi, pernyataan dan jaminan, baik tersurat, 
        tersirat, yang diwajibkan oleh undang-undang atau sebaliknya, termasuk, namun tidak terbatas pada, jaminan yang tersirat mengenai jual beli, kesesuaian untuk tujuan tertentu, 
        atau tidak adanya pelanggaran hak pihak ketiga, dengan ini dikecualikan dan dikesampingkan dengan batas tertinggi dan maksimum. <strong> ANDA MENGAKUI DAN MENYETUJUI BAHWA SELURUH RISIKO 
        YANG TIMBUL DARI PENGGUNAAN LAYANAN EVENTIN OLEH ANDA SEPENUHNYA ADA PADA ANDA DAN ANDA TIDAK AKAN MEMILIKI HAK UNTUK MEMINTA GANTI RUGI APAPUN DARI EVENTIN.</strong></p>

      <h2>10. Tanggung Jawab EventIn</h2>
      
      <ul>
        <ol>1. Kami dengan usaha terbaik selalu berupaya untuk menjaga Aplikasi aman, berfungsi dengan baik dan terbebas dari virus dan kesalahan. Namun demikian kami tidak dapat menjamin operasi terus-menerus dan terhadap hal-hal di luar kendali kami tidak dapat
          menjamin keamanan database. Kami juga tidak dapat menjamin bahwa informasi yang Anda berikan tidak akan ditahan/terganggu saat sedang dikirimkan kepada kami. Informasi dan data dalam aplikasi bisa saja tidak terjadi secara realtime.
        </ol>
        <ol>2. Kami akan memiliki hak untuk menyelidiki dan menuntut setiap pelanggaran syarat dan ketentuan, kebijakan privasi dan ketentuan hukum yang berlaku. Kami dapat melibatkan dan bekerja sama dengan pihaknpenegak hukum dalam menuntut pengguna yang melanggar ketentuan-ketentuan di atas. 
          Kami berhak untuk memonitor akses anda ke atau penggunaan layanan EventIn untuk memastikan kepatuhan dengan ketentuan penggunaan ini, atau untuk mematuhi peraturan yang berlaku atau perintah atau persyaratan dari pengadilan, lembaga administratif atau badan pemerintah lainnya.
        </ol>
        <ol>3. Aplikasi ini dapat mengalami keterbatasan, penundaan dan masalah-masala lain yang terdapat dalam penggunaan internet dan komunikasi elektronik, termasuk perangkat yang digunakan oleh Anda, tidak terhubung, berada di luar jangkauan, dimatikan atau tidak berfungsi. 
          Kami tidak bertanggung jawab atas keterlambatan, kegagalan anda masuk ke dalamsession, kerusakan atau kerugian yang diakibatkan olehh masalah-masalah tersebut.
        </ol>
        <ol>4. Kami berhak untuk memperbaiki, menghilangkan, meningkatkan, menambah, memodifikasi, menghentikan sementara, menghentikan penyediaan, menghapus, baik secara sebagian maupun keseluruhan dari aplikasi, tanpa berkewajiban untuk memberikan alasan & pemberitahuan sebelumnya kepada Anda. 
          Kami tidak bertanggung jawab jika peningkatan, modifikasi, suspensi atau penghapusan tersebut mencegah Anda dalam mengakses aplikasi.
        </ol>
        <ol>5. EventIn memiliki kewenangan untuk menutup akun Anda baik sementara maupun permanen apabila didapati adanya tindakan kecurangan dalam bertransaksi dan/atau pelanggaran terhadap syarat dan ketentuan.</ol>
        <ol>6. Setiap saat, Anda setuju dan memberikan kewenangan kepada kami untuk mengubah atau memodifikasi layanan EventIn dan syarat dan ketentuan, sehingga kami berhak dan tidak wajib untuk:
          <ul>
            <ol>1. Memeriksa pelanggaran terhadap syarat dan ketentuan pada layanan EventIn dan juga mengambil tindakan apapun yang juga dianggap diperlukan, termasuk melakukan pembekuan atas dana yang telah dibayarkan.</ol>
            <ol>2. Mencegah atau membatasi akses Anda dalam mengakses layanan EventIn.</ol>
            <ol>3. Melakukan pengawasan atas seluruh interaksi atau transaksi yang terjadi melalui layanan EventIn termasuk melaporkan kegiatan yang dicurigai sebagai pelanggaran terhadap hukum yang berlaku, undang-undang atau peraturan yang dikeluarkan 
              oleh pihak yang berwenang, serta bekerja sama dengan pihak berwenang  yang bersangkutan untuk memberikan informasi maupun tindakan lainnya yang dianggap diperlukan dalam menindaklanjuti laporan tersebut, dan/atau
            </ol>
            <ol>4. Meminta informasi dan data yang diperlukan dari Anda sehubungan dengan penggunaan aplikasi.</ol>
          </ul>
        </ol>
      </ul>

      <h2>11. Kontak Kami</h2>

      <p>Untuk menjamin kenyamanan pengguna dalam menikmatik layanan EventIn, anda dapat mengirimkan email ke irfan.fathurrohman2006@gmail.com.</p>
    </div>
</ion-content>