ion-content {
    --background: #ecfeff;
}

ion-searchbar {
    --placeholder-color: #7a7a7a;
    --border-radius: 12px;
    --background: #61eff7;
    --icon-color: #16e2eb;
    --box-shadow: none;
    --color: #16e2eb;
}

ion-title {
    font-weight: 600;
    font-size: 22px;
}