<div class="bg-[#16e2eb] pt-12 pb-2 px-2 rounded-b-[30px] shadow-sm flex items-center text-white relative z-10">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title>Detail Akun</ion-title>
  </ion-toolbar>
</div>

<ion-content [fullscreen]="true">

  <div class="px-8 mt-5 flex flex-col space-y-4" *ngIf="userDetail">

    <div class="flex flex-col">
      <label class="text-xs font-semibold text-gray-800 mb-1 ml-1">Nama Lengkap</label>
      <input type="text" value="{{ userDetail.nama || 'Belum diatur' }}" readonly
        class="border border-cyan-400 rounded-xl px-4 py-3 w-full text-sm font-bold text-gray-900 bg-white focus:outline-none" />
    </div>

    <div class="flex flex-col">
      <label class="text-xs font-semibold text-gray-800 mb-1 ml-1">Email</label>
      <input type="email" value="{{ userDetail.email }}" readonly
        class="border border-cyan-400 rounded-xl px-4 py-3 w-full text-sm font-bold text-gray-900 bg-white focus:outline-none" />
    </div>

    <div class="flex flex-col">
      <label class="text-xs font-semibold text-gray-800 mb-1 ml-1">Nomor Handphone</label>
      <input type="tel" value="{{ userDetail.nomor_handphone || 'Belum diatur' }}" readonly
        class="border border-cyan-400 rounded-xl px-4 py-3 w-full text-sm font-bold text-gray-900 bg-white focus:outline-none" />
    </div>

    <div class="flex flex-col">
      <label class="text-xs font-semibold text-gray-800 mb-1 ml-1">Jenis Kelamin</label>
      <input type="text" value="{{ userDetail.jenis_kelamin || 'Belum diatur' }}" readonly
        class="border border-cyan-400 rounded-xl px-4 py-3 w-full text-sm font-bold text-gray-900 bg-white focus:outline-none" />
    </div>

    <div class="pt-6 pb-8 flex flex-col space-y-4">

      <button routerLink="../account/edit-profile"
        class="w-full bg-cyan-100 border border-cyan-400 text-cyan-500 font-bold py-3 rounded-2xl active:bg-cyan-200 transition-colors">
        Edit Profile
      </button>

      <button id="delete-account"
        class="w-full bg-red-200 border border-red-500 text-red-600 font-bold py-3 rounded-2xl active:bg-red-300 transition-colors">
        Hapus Akun
      </button>

    </div>

    <ion-alert trigger="delete-account" header="Hapus Akun?" class="bg-alert"
      message="Apakah anda yakin ingin menghapus akun?" [buttons]="alertButtons">
    </ion-alert>

  </div>
</ion-content>