<div class="bg-[#16e2eb] pt-12 pb-2 px-2 rounded-b-[30px] shadow-sm flex items-center text-white relative z-10">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title>Ganti Kata Sandi</ion-title>
  </ion-toolbar>
</div>

<ion-content [fullscreen]="true">

  <div class="p-4">
    <p class="text-left m-0 text-sm text-cyan-400">Silahkan isi untuk memperbarui kata sandi, jangan bagikan kata sandi
      mu kepada siapapun.</p>

    <form [formGroup]="ChangePasswordForm" (ngSubmit)="onUpdatePassword()">

      <div class="relative mb-1 mt-12">
        <ion-input formControlName="old_password" label="Kata Sandi Saat Ini" type="password" label-placement="floating"
          fill="outline" placeholder="Masukkan Kata Sandi" required></ion-input>
      </div>
      <div class="mb-3 pl-2"
        *ngIf="ChangePasswordForm.get('old_password')?.touched && ChangePasswordForm.get('old_password')?.invalid">
        <small class="text-red-500 font-semibold text-xs">Kata sandi wajib diisi.</small>
      </div>

      <div class="relative mb-1 mt-6">
        <ion-input formControlName="new_password" label="Kata Sandi Baru" type="password" label-placement="floating"
          fill="outline" placeholder="Masukkan Kata Sandi Baru" required></ion-input>
      </div>
      <div class="mb-3 pl-2"
        *ngIf="ChangePasswordForm.get('new_password')?.touched && ChangePasswordForm.get('new_password')?.invalid">
        <small class="text-red-500 font-semibold text-xs">Kata sandi baru wajib diisi.</small>
      </div>

      <div class="relative mb-1 mt-6">
        <ion-input formControlName="new_password_confirmation" label="Ulangi Kata Sandi Baru" type="password"
          label-placement="floating" fill="outline" placeholder="Ulangi Kata Sandi Baru" required></ion-input>
      </div>
      <div class="mb-3 pl-2"
        *ngIf="ChangePasswordForm.get('new_password_confirmation')?.touched && ChangePasswordForm.get('new_password_confirmation')?.invalid">
        <small class="text-red-500 font-semibold text-xs">Konfirmasi kata sandi wajib diisi.</small>
      </div>
      <div class="mb-3 pl-2"
        *ngIf="ChangePasswordForm.errors?.['mismatch'] && ChangePasswordForm.get('confirm_password')?.touched">
        <small class="text-red-500 font-semibold text-xs">Konfirmasi kata sandi tidak cocok.</small>
      </div>

      <button type="submit" [disabled]="ChangePasswordForm.invalid"
        class="w-full mt-6 bg-cyan-400 text-white font-bold py-3.5 rounded-lg active:scale-95 transition-transform shadow-md">
        Simpan
      </button>

    </form>

  </div>

</ion-content>