<div class="bg-[#16e2eb] pt-12 pb-2 px-2 rounded-b-[30px] shadow-sm flex items-center text-white relative z-10">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title>Ganti Kata Sandi</ion-title>
  </ion-toolbar>
</div>

<ion-content [fullscreen]="true">

  <div class="p-4">
    <p class="text-left m-0 text-sm text-cyan-400">Silahkan isi untuk memperbarui kata sandi, jangan bagikan kata sandi
      mu kepada siapapun.</p>

    <div class="relative mb-2 mt-12">
      <ion-input [(ngModel)]="password_old" label="Kata Sandi Saat Ini" type="password" label-placement="floating"
        fill="outline" placeholder="Masukkan Kata Sandi" required></ion-input>
    </div>

    <div class="relative mb-2 mt-6">
      <ion-input [(ngModel)]="password" label="Kata Sandi Baru" type="password" label-placement="floating"
        fill="outline" placeholder="Masukkan Kata Sandi Baru" required></ion-input>
    </div>

    <div class="relative mb-12 mt-6">
      <ion-input [(ngModel)]="confirm_password" label="Ulangi Kata Sandi Baru" type="password"
        label-placement="floating" fill="outline" placeholder="Ulangi Kata Sandi Baru" required></ion-input>
    </div>

    <button type="submit" (click)="newPassword()"
      class="w-full bg-cyan-400 text-white font-bold py-3.5 rounded-lg active:scale-95 transition-transform shadow-md">
      Simpan
    </button>

  </div>

</ion-content>