<div class="bg-[#16e2eb] pt-12 pb-2 px-2 rounded-b-[30px] shadow-sm flex items-center text-white relative z-10">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" icon="arrow-back" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="font-bold text-white">Lupa Password</ion-title>
  </ion-toolbar>
</div>

<ion-content [fullscreen]="true">

  <div *ngIf="currentStep === 1" class="p-4 mt-6 animate-fadeIn"> 
    <p class="text-center text-cyan-500 font-semibold text-sm mb-10 px-4">
      Masukkan email Anda yang terdaftar untuk mengatur ulang password.
    </p>

    <div class="relative mb-6">
      <ion-input [(ngModel)]="email" label="Email" type="email" label-placement="floating" fill="outline"
        placeholder="Masukkan Email" color="cyan" required></ion-input>
    </div>
  </div>

  <div *ngIf="currentStep === 2" class="p-5 mt-10 animate-fadeIn">

    <p class="text-slate-600 text-sm font-bold mt-6 text-center mb-5">OTP berhasil dikirim. Silahkan cek email box yang terdaftar.</p>

    <div class="w-full rounded-2xl bg-[#ecfeff] border border-cyan-300 p-5 shadow-xs text-center">
      <p class="text-center text-base font-black text-cyan-500 mb-6 mt-2">Masukkan OTP</p>

      <ion-input-otp [(ngModel)]="otpCode" color="secondary" length="6" class="font-bold text-xl mb-4"></ion-input-otp>
      
      <p class="text-slate-400 text-[11px] font-medium mt-4">
        Tidak mendapatkan OTP? 
        <a (click)="kirimOtp()" class="text-cyan-500 font-bold underline cursor-pointer">Kirim ulang OTP.</a>
      </p>
    </div>
  </div>

  <div *ngIf="currentStep === 3" class="p-5 mt-6 animate-fadeIn">
    <p class="text-cyan-500 text-sm font-semibold text-center mb-8 px-4">
      Silahkan masukkan password baru anda.
    </p>

    <div class="relative mb-6 flex items-center">
      <ion-input 
        [(ngModel)]="passwordBaru" 
        label="Password Baru" 
        [type]="showPasswordBaru ? 'text' : 'password'" 
        label-placement="floating" 
        fill="outline"
        placeholder="Masukkan Password Baru" 
        color="cyan" 
        required
        class="w-full">
      </ion-input>
      <button 
        type="button" 
        (click)="showPasswordBaru = !showPasswordBaru" 
        class="absolute right-4 top-1/2 -translate-y-1/2 z-30 bg-transparent text-gray-500 text-xl p-0 m-0 outline-none active:opacity-70 cursor-pointer">
        <ion-icon [name]="showPasswordBaru ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </button>
    </div>
    
    <div class="relative mb-6 flex items-center">
      <ion-input 
        [(ngModel)]="konfirmasiPassword" 
        label="Konfirmasi Password" 
        [type]="showKonfirmasiPassword ? 'text' : 'password'" 
        label-placement="floating" 
        fill="outline"
        placeholder="Masukkan Konfirmasi Password" 
        color="cyan" 
        required
        class="w-full">
      </ion-input>
      <button 
        type="button" 
        (click)="showKonfirmasiPassword = !showKonfirmasiPassword" 
        class="absolute right-4 top-1/2 -translate-y-1/2 z-30 bg-transparent text-gray-500 text-xl p-0 m-0 outline-none active:opacity-70 cursor-pointer">
        <ion-icon [name]="showKonfirmasiPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </button>
    </div>
  </div>

</ion-content>

<ion-footer class="ion-no-border bg-[#ecfeff]">
  <div class="px-5 py-4 flex bg-[#ecfeff]">
    
    <button *ngIf="currentStep === 1" (click)="kirimOtp()" [disabled]="isLoading"
      class="w-full bg-cyan-400 text-white font-extrabold py-3.5 rounded-xl active:scale-95 transition-transform shadow-md text-base tracking-wide flex items-center justify-center space-x-2">
      <span *ngIf="!isLoading">Kirim Link OTP</span>
      <ion-spinner *ngIf="isLoading" name="crescent" color="light" class="h-5 w-5"></ion-spinner>
    </button>
    
    <button *ngIf="currentStep === 2" (click)="verifikasiOtp()" [disabled]="isLoading"
      class="w-full bg-cyan-400 text-white font-extrabold py-3.5 rounded-xl active:scale-95 transition-transform shadow-md text-base tracking-wide flex items-center justify-center space-x-2">
      <span *ngIf="!isLoading">Verifikasi OTP</span>
      <ion-spinner *ngIf="isLoading" name="crescent" color="light" class="h-5 w-5"></ion-spinner>
    </button>

    <button *ngIf="currentStep === 3" (click)="gantiPassword()" [disabled]="isLoading"
      class="w-full bg-emerald-400 text-white font-extrabold py-3.5 rounded-xl active:scale-95 transition-transform shadow-md shadow-emerald-100 text-base tracking-wide flex items-center justify-center space-x-2">
      <span *ngIf="!isLoading">Simpan Perubahan</span>
      <ion-spinner *ngIf="isLoading" name="crescent" color="light" class="h-5 w-5"></ion-spinner>
    </button>

  </div>
</ion-footer>
