<ion-content [fullscreen]="true">

  <div class="bg-[#16e2eb]">

    <div class="bg-[#16e2eb] h-[40vh] flex flex-col items-center justify-center relative z-10 shadow-sm">

      <div class="bg-red-600 w-40 h-16 flex items-center justify-center">
        <span class="text-white font-bold text-2xl tracking-wide">Logo</span>
      </div>

    </div>

    <div class="bg-cyan-50 px-8 pt-6 relative z-0 rounded-tl-[80px]">

      <h1 class="text-center text-2xl font-extrabold text-cyan-400 mb-2">Lupa Password</h1>

      <p class="text-center text-cyan-400 font-medium text-sm mb-10">Masukkan email Anda yang terdaftar untuk mengatur
        ulang password.</p>

      <div class="relative mb-6">
        <ion-input [(ngModel)]="email" label="Email" type="email" label-placement="floating" fill="outline"
          placeholder="Masukkan Email" required></ion-input>
      </div>

      <!-- routerLink diganti menjadi function validasi -->
      <button type="submit" (click)="resetPassword()"
        class="w-full bg-cyan-400 text-white font-bold py-3.5 rounded-lg active:scale-95 transition-transform shadow-md">
        Kirim
      </button>

      <button routerLink="/login"
        class="w-full mt-2 bg-red-600 text-white font-bold py-3.5 rounded-lg active:scale-95 transition-transform shadow-md">
        Kembali
      </button>


    </div>
  </div>

</ion-content>