/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Class untuk menyembunyikan scrollbar */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.bg-alert {
    --background: #ecfeff;
    --backdrop-opacity: 0.8;

    .alert-wrapper {
        border-radius: 16px !important;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }

    .alert-title {
        color: #0054e9 !important;
        font-weight: bold !important;
        font-size: 22px !important;
        text-align: left;
    }

    .alert-message {
        color: #333333 !important;
        font-size: 16px !important;
        text-align: left;
    }

    .tombol-batal {
        color: #ff4961 !important;
        font-weight: bold;
    }

    .tombol-lanjut {
        color: #0054e9 !important;
        font-weight: bold;
    }
}

.custom-dropdown-bg {
    --background: #ecfeff;
}

.custom-dropdown-bg ion-item {
    --background: transparent;
    --color: #0099D6;
}

.custom-dropdown-bg ion-item::part(native):hover {
    color: #16e2eb;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee-hover {
    display: inline-block;
    white-space: nowrap;
}

.group:active .animate-marquee-hover,
.group:hover .animate-marquee-hover {
    animation: marquee 8s linear infinite;
    padding-left: 30%;
}