ion-content {
    --background: #ecfeff;
}

ion-searchbar {
    --placeholder-color: #7a7a7a;
    --border-radius: 12px;
    --background: #ecfeff;
    --icon-color: #16e2eb;
    --box-shadow: none;
    --color: #16e2eb;
}